<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ADRaffy.ENSNormalize" version="0.3.1" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" />
  <package id="Nethereum.ABI" version="6.1.0" />
  <package id="Nethereum.Accounts" version="6.1.0" />
  <package id="Nethereum.BlockchainProcessing" version="6.1.0" />
  <package id="Nethereum.Contracts" version="6.1.0" />
  <package id="Nethereum.Hex" version="6.1.0" />
  <package id="Nethereum.JsonRpc.Client" version="6.1.0" />
  <package id="Nethereum.JsonRpc.RpcClient" version="6.1.0" />
  <package id="Nethereum.KeyStore" version="6.1.0" />
  <package id="Nethereum.Merkle.Patricia" version="6.1.0" />
  <package id="Nethereum.Model" version="6.1.0" />
  <package id="Nethereum.RLP" version="6.1.0" />
  <package id="Nethereum.RPC" version="6.1.0" />
  <package id="Nethereum.Signer" version="6.1.0" />
  <package id="Nethereum.Signer.EIP712" version="6.1.0" />
  <package id="Nethereum.StandardTokenEIP20" version="6.1.0" manuallyInstalled="true" />
  <package id="Nethereum.Util" version="6.1.0" />
  <package id="Nethereum.Util.Rest" version="6.1.0" />
  <package id="Nethereum.Web3" version="6.1.0" manuallyInstalled="true" />
  <package id="Portable.BouncyCastle" version="1.9.0" />
</packages>